<table class="table table-sm">
    <tbody>
      <tr class="table-primary">
        <th scope="row" style="width: 16.66%">Name</th>
        <td>
          <strong>{{ useCase?.id }} {{ useCase?.name }}</strong>
        </td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{ useCase?.description }}</td>
      </tr>
      <tr>
        <th scope="row">Actor</th>
        <td>{{ useCase?.actor }}</td>
      </tr>
      <tr>
        <th scope="row">Precondition</th>
        <td>{{ useCase?.precondition }}</td>
      </tr>
      <tr>
        <th scope="row">Scenario</th>
        <td>
          <ol>
            <li *ngFor="let step of useCase?.scenario">{{ step }}</li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Postcondition</th>
        <td>{{ useCase?.postcondition }}</td>
      </tr>
    </tbody>
  </table>