<div class="component list">
  <div class="row">
    <div class="col-8"></div>
    <div class="col">
      <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="new">New</a>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Artists</th>
      <th>Album</th>
      <th>Length</th>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td class="songId">{{ song.id }}</td>
          <td><a routerLink="{{ song.id }}">{{ song.title }}</a></td>
          <td>{{ song.artists }}</td>
          <td>{{ song.album }}</td>
          <td>{{ song.durationMinutes }}</td>
      </tr>
    </tbody>
  </table>
</div>
