<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      This application was made in the context of the course 'Clientside web frameworks' of Avans Hogeschool Breda.
    </p>
    <h3>Littem</h3>
    <p>
      In this application a user can keep track of his/her favorite music and artists. Until now there are only 2
      different entities: users and songs. In the future we will add artists and lists to keep track of it all.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/ProfielFoto.jpeg" class="card-img-top rounded-circle border profile-pic" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">Wouter Zegers</h5>
        <p class="card-text">Studentnumber: 2172665</p>
      </div>
    </div>
  </div>
</div>

<h3>ENTITIES</h3>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <p>Songs</p>
    <ul>
      <li>id: number</li>
      <li>title: string</li>
      <li>album: string</li>
      <li>artists: string</li>
      <li>durationSeconds: number</li>
      <li>durationMinutes: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6"><p>Users</p>
    <ul>
      <li>id: number</li>
      <li>firstName: string</li>
      <li>lastName: string</li>
      <li>emailAdress: string</li>
      <li>role: UserRole</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img src="assets/images/DiagramLittem.jpg" alt="..." />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>The application provides the following functionality.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
