<footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 footerLogoLittem">
          <img src="assets/images/LittemLogoTextBlackAndWhite.png" width="100" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="text-muted">© 2021 Wouter Zegers</span>
      </div>
    </div>
  </div>
</footer>
