<div class="component edit">
  <div class="row">
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" id="firstNameInput" class="form-control" value="{{ user?.firstName }}"
        placeholder="Your first name" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" id="lastNameInput" class="form-control" value="{{ user?.lastName }}"
        placeholder="Your last name" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="email" id="emailInput" class="form-control" value="{{ user?.emailAdress }}"
        placeholder="Your email adress" />
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-6">
      <!-- Bij Save roepen we de save() functie aan, en navigeren
                    terug naar details binnen die functie -->
      <button class="btn btn-primary btn-sm float-right" href="#" role="button" (click)="save()">
        Save
      </button>
      <!-- Bij Cancel doen we nu nog niets, maar gaan gewoon terug naar de details -->
      <a class="btn btn-outline-secondary btn-sm float-right" href="#" role="button" routerLink="/">Cancel</a>
    </div>
  </div>
</div>
