<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"><img src="assets/images/LittemLogoText.png" class="navbarlogo"
        alt="..." /></a>

    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="userlist" [routerLinkActive]="['active']">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="lineup" [routerLinkActive]="['active']">Lineup</a>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
