<div class="component edit">
  <div class="row">
    <div class="col-6">
      <input type="text" id="titleInput" class="form-control" value="{{ song?.title }}" placeholder="Songs title" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" id="artistsInput" class="form-control" value="{{ song?.artists }}"
        placeholder="Songs artists" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" id="albumInput" class="form-control" value="{{ song?.album }}" placeholder="Songs album" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" id="durationInput" class="form-control" value="{{ song?.durationMinutes }}"
        placeholder="Songs lenght" />
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-6">
      <button class="btn btn-primary btn-sm float-right" href="#" role="button" (click)="save()">
        Save
      </button>
      <a class="btn btn-outline-secondary btn-sm float-right" href="#" role="button" routerLink="../">Cancel</a>
    </div>
  </div>
</div>
