<div class="component detail">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-sm float-left" href="#" role="button" routerLink="../">Back</a>
    </div>
    <div class="col">
      <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="edit">Edit</a>
    </div>
  </div>

  <div class="interior">
    <div class="row">
      <div class="col">
        <h3 class="interiorType">Track</h3>
      </div>
    </div>
    <div class="row">
      <div class="col interiorTitle">
        <h1>{{ song?.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col interiorArtists">
        <span class="category">Artists</span>
        <span class="value">{{ song?.artists }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col interiorAlbum">
        <span class="category">Album</span>
        <span class="value">{{ song?.album }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col interiorLength">
        <span class="category">Length</span>
        <span class="value">{{ song?.durationMinutes }}</span>
      </div>
    </div>
  </div>
</div>
