<div class="component list">
  <div class="row">
    <div class="col-8"></div>
    <div class="col">
      <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="new">New</a>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="userId">{{ user.id }}</td>
        <td><a routerLink="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a></td>
        <td>{{ user.emailAdress }}</td>
      </tr>
    </tbody>
  </table>
</div>
