/* You can add global styles to this file, and also import other style files */
body {
  background-color: #262626;
  color: #ffffff;
  font: 700 1.077em/1.25 SourceSans, Arial, sans-serif;
}

.navbar {
  background-color: #141414;
}

.card {
  background-color: #262626;
  color: #ffffff;
  border: none;
}

.navbarlogo {
  max-width: 100px;
}

.btn {
  color: #141414;
  background-color: #01ff95;
  border-color: #01ff95;
  margin: 10px;
  font-family: CoreSans, Arial, sans-serif;
  font-weight: 700;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(1, 255, 149, .5);
  border-color: rgba(1, 255, 149, 0);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(1, 255, 149, .2);
  border-color: rgba(1, 255, 149, 0);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgb(1 255 149 / 50%);
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(1, 255, 149, .1);
  border-color: rgba(1, 255, 149, .2);
  box-shadow: 0 0 0 0.2rem rgb(1 255 149 / 50%);
}

a {
  color: #39c1de;
}

.userId,
.songId {
  color: #8c8c8c;
  font: 300 1.5em Oswald, CoreSans, Arial, sans-serif;
}

a:hover {
  color: rgba(57, 193, 222, 0.5);
  ;
}

.table {
  background-color: #343434;
  color: #ffffff;
  border-radius: 5px;
}

.table-hover tbody tr:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, .075);
}

.table td,
.table th {
  border: none;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #8a8a8a;
}

footer {
  background-color: #292d2f;
  width: 100%;
  box-shadow: 0 50vh 0 50vh #292d2f;
}

.footerLogoLittem {
  margin-right: 5px;
  margin-bottom: 10px!important;
}

h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, .4);
  line-height: 1;
  font-size: 13px;
}

h1 {
  margin: 0 10px 28px;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.1;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
}

.interior .category {
  margin-right: 10px;
  text-transform: uppercase;
  color: rgb(159, 151, 139);
}

.interior {
  margin-bottom: 50px;
}

.form-control {
  margin-bottom: 15px;
  background-color: #343434;
  color: #ffffff;
  border-color: #8c8c8c;
}

.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: #292d2f;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #343434;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
