<div class="component edit">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
    </div>
    <div class="col-md-6"><button class="btn btn-primary btn-sm float-right" href="#" role="button"
        (click)="delete()">Delete user</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" id="firstNameInput" class="form-control" value="{{ user?.firstName }}"
        placeholder="Your first name" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" id="lastNameInput" class="form-control" value="{{ user?.lastName }}"
        placeholder="Your last name" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="email" id="emailInput" class="form-control" value="{{ user?.emailAdress }}"
        placeholder="Your email adress" />
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-md-6">
      <button class="btn btn-primary btn-sm float-right" href="#" role="button" (click)="save()">
        Save
      </button>
      <a class="btn btn-outline-secondary btn-sm float-right" href="#" role="button" routerLink="../">Cancel</a>
    </div>
  </div>
</div>