<div class="component detail">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-sm float-left" href="#" role="button" routerLink="/">Back</a>
    </div>
    <div class="col">
      <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="edit">Edit</a>
    </div>
  </div>

  <div class="interior">
    <div class="row">
      <div class="col">
        <h3 class="interiorType">User</h3>
      </div>
    </div>
    <div class="row">
      <div class="col interiorName">
        <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col interiorArtists">
        <span class="category">email</span>
        <span class="value">{{ user?.emailAdress }}</span>
      </div>
    </div>
  </div>
</div>
